{% load i18n %}
<html>
<body>
<h1>django-getpaid dummy backend</h1>


<p>
    {% blocktrans with payment=payment amount=payment.amount currency=payment.currency order=order %}
    Are you authorizing "<strong>{{ payment }}</strong>"
    valued to <strong>{{ amount }} {{ currency }}</strong>
    for "<strong>{{ order_name }}</strong>"?
    {% endblocktrans %}
</p>
<form method="post">
    {% csrf_token %}
    {{ form.as_p }}
    <input type="submit" value="{% trans "Continue" %}">
</form>

</body>
</html>