language: python
python:
  - "2.7"
  - "3.4"
env:
  - DJANGO_VERSION=1.8.8
  - DJANGO_VERSION=1.9.1
# command to install dependencies
install: 
  - "pip install -q Django==$DJANGO_VERSION"
  - "pip install -q -e .[przelewy24,payu,moip,paymill] --use-mirrors"
  - "pip install -q -r getpaid_test_project/requirements.txt --use-mirrors"
  - "pip install coveralls"
# command to run tests
script:
  "cd getpaid_test_project && python manage.py test --settings=getpaid_test_project.settings_test"
after_success:
  coveralls
