{% extends "getpaid/base.html" %}
{% block content %}
<h1>django-getpaid example project</h1>
<p>This is an example project of how django-getpaid manage order payment workflow.</p>
<p>First you will need to create an order. In this simple example order has just one item which have
name and price.</p>

<h2>Please fill the form to create an order</h2>
<form action="" method="post">
    {% csrf_token %}
    {% if form.non_field_errors %}
    <div class="errorlist">
        {% for error in form.non_field_errors %}
        <p style="color:red">{{ error }}</p>
        {% endfor %}
    </div>
    {% endif %}
    <table>
    {% for field in form %}
        <tr>
            <th>{{ field.label_tag }}</th>
            <td>{{ field }}</td>
        </tr>
        {% if field.errors %}
        <tr><td colspan="2">
            {% for error in field.errors %}
            <p style="color:red">{{ error }}</p>
            {% endfor %}
        </td></tr>
        {% endif %}
        {% if field.help_text %}
        <tr><td colspan="2"><small style="color:gray">{{ field.help_text }}</small></td></tr>
        {% endif %}
    {% endfor %}
    </table>
    <input type="submit" value="Place your order">
</form>
{% if orders %}
    <h2>Orders</h2>
    <ol>
        {% for order in orders %}
            <li> <a href="{{ order.get_absolute_url }}">{{ order }}</a>
        {% endfor %}
    </ol>
{% endif %}
{% endblock content %}
